---
layout: default
title: Blog
description: Personal site of David Nadlinger, featuring a programming-centric blog.
---

{% for post in paginator.posts %}
{% include post-excerpt.html %}
{% endfor %}

<footer>
  <ul class="pagenav">
    <li>{% if paginator.next_page_path %}<a href="{{ paginator.next_page_path }}">Older</a>{% else %}<s>Older</s>{% endif %}</li>
    <li>{% if paginator.previous_page_path %}<a href="{{ paginator.previous_page_path }}">Newer</a>{% else %}<s>Newer</s>{% endif %}</li>
   </ul>
</footer>
