---
layout: default
title: Home
has_comments: true
openid_endpoint: true
---

<section id="intro">
Hi! Science student by day and programming geek by night, I share my experiences, ideas and opinions about our digital world here. Why not flip through some of my posts below?
</section>

<section id="blog_feed">
{% for post in site.posts limit:5 %}
{% include post-excerpt.html %}
{% endfor %}

<footer><ul class="pagenav"><li><a href="/blog/#main_footer">Older</a></li><li><s>Newer</s></li></ul></footer>
</section>

